.footer {
  background-color: white;
  color: white;
  padding: 40px 24px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 60%;
  height: auto;
}

.footer-text p {
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ed4f05;
}

/* .img-diskon img {
  width: 300px;
  height: auto;
} */

/* .img-first img {
  width: 50%;
  transform: rotate(3.142rad);
  -webkit-transform: rotate(3.142rad);
  -moz-transform: rotate(3.142rad);
  -ms-transform: rotate(3.142rad);
  -o-transform: rotate(3.142rad);
} */

@media (max-width: 768px) {
  /* Navbar */
  nav {
    padding: 12px 16px;
  }

  .nav-links {
    gap: 20px;
    margin-right: 20px;
  }

  .nav-links li {
    margin-left: 12px;
  }

  .nav-links a {
    font-size: 14px;
  }

  /* Hero Section */
  .hero-text h1 {
    font-size: 60px;
  }

  .hero-text p {
    font-size: 24px;
  }

  .order-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* About Section */
  .about {
    flex-direction: column;
    padding: 40px 16px;
  }

  .about-img img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .about-text h1 {
    font-size: 60px;
    margin-left: 0;
    text-align: center;
  }

  .about-text p {
    font-size: 16px;
  }

  /* Menu Section */
  .text-menu h1 {
    font-size: 60px;
  }

  .img-menu {
    margin-right: 0;
  }

  .img-menu img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .menu-desc {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .price {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  /* Review Section */
  .text-review h1 {
    font-size: 60px;
  }

  .kotak-container {
    gap: 20px;
  }

  .kotak {
    width: 100%;
    max-width: 300px;
  }

  /* Promotion Section */
  .text-promotion h1 {
    font-size: 60px;
  }

  .img-container {
    flex-direction: column;
    gap: 20px;
  }

  .img-container img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  /* Navbar */
  .nav-links {
    gap: 10px;
    margin-right: 10px;
  }

  .nav-links li {
    margin-left: 8px;
  }

  .nav-links a {
    font-size: 12px;
  }

  /* Hero Section */
  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .order-button {
    padding: 6px 12px;
    font-size: 12px;
  }

  /* About Section */
  .about-text h1 {
    font-size: 40px;
  }

  .about-text p {
    font-size: 14px;
  }

  /* Menu Section */
  .text-menu h1 {
    font-size: 40px;
  }

  .menu-desc h4 {
    font-size: 24px;
  }

  .price h4 {
    font-size: 18px;
  }

  /* Review Section */
  .text-review h1 {
    font-size: 40px;
  }

  /* Promotion Section */
  .text-promotion h1 {
    font-size: 40px;
  }
}
