.menu {
  padding: 80px 24px;
  background-color: #ed4f05;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-menu {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 130px;
  color: white;
  text-shadow: 1px 1px 1px #585858;
}

.text-menu h1 {
  margin-top: 2rem;
}

.img-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9rem;
}

.img-menu img {
  width: 500px;
  height: 300px;
}

.menu-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24rem;
}

.menu-desc h4 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
}

.price {
  display: flex;
  justify-content: first flex-start;
  gap: 400px;
}

.price h4 {
  font-family: "Bebas Neue", sans-serif;
  color: #ed4f05;
  text-align: center;
  font-size: 24px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.price h4:hover {
  transform: scale(1.05);
}
