.about {
  padding: 80px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ed4f05;
}

.about-img img {
  width: 500px;
  height: 500px;
  border-radius: 24px;
  box-shadow: 20px 20px #433d37;
  border: 2px solid black;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.about-img img:hover {
  transform: scale(1.05);
}

.about-text {
  padding: 24px 32px;
  margin-bottom: 4rem;
}

.about-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 130px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px #585858;
  margin-left: 32%;
}

.about-text p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px #585858;
  text-align: center;
}
